{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "react-hooks"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "no-empty-function": "off",
    "no-useless-computed-key": "off",
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/prop-types": "off",

    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}